/****************************************************************************************/
/*																						*/
/*	Kroenke, Auer, Vandenberg, and Yoder - Database Processing (15th Edition) Chapter 12	*/
/*																						*/
/*	Heather Sweeney Designs Data Warehouse Database Load Tables							*/
/*																						*/
/*	These are the Microsoft SQL Server 2016 code solutions								*/
/*																						*/
/****************************************************************************************/


/*

CREATE TABLE PRODUCT_SALES (
		TimeID			Int					NOT NULL,
		CustomerID		Int					NOT NULL,
		ProductNumber	Char(35) 			NOT NULL,
		Quantity		Int					NOT NULL,
		UnitPrice		Numeric(9,2)		NOT NULL,
		Total			Numeric(9,2	)		NULL,
		CONSTRAINT		SALES_PK
		PRIMARY KEY	    (TimeID, CustomerID, ProductNumber),
		CONSTRAINT		PS_TIMELINE_FK FOREIGN KEY(TimeID)
								REFERENCES TIMELINE(TimeID)
										ON UPDATE NO ACTION
										ON DELETE NO ACTION,
		CONSTRAINT		PS_CUSTOMER_FK FOREIGN KEY(CustomerID)
								REFERENCES CUSTOMER(CustomerID)
										ON UPDATE NO ACTION
										ON DELETE NO ACTION,
		CONSTRAINT		PS_PRODUCT_FK FOREIGN KEY(ProductNumber)
								REFERENCES PRODUCT(ProductNumber)
										ON UPDATE NO ACTION
										ON DELETE NO ACTION
		);

*/

INSERT INTO PRODUCT_SALES VALUES (43023, 3, 'VB001', 1, 7.99, 7.99, NULL);
INSERT INTO PRODUCT_SALES VALUES (43023, 3, 'VK001', 1, 14.95, 14.95, NULL);
INSERT INTO PRODUCT_SALES VALUES (43033, 4, 'BK001', 1, 24.95, 24.95, NULL);
